In [1]:
cd

/Users/emiljaffal

In [3]:
import pandas as pd

file_path = "desktop/data.xlsx"
data = pd.read_excel(file_path)
data

,Formula,Entry,Entry prototype,Structure class,Inv. center,"Unit cell volume, A^3",Density (calc.) [Mg m‰…]
0,CeGa,261037,1,1,1,210.590,6.62
1,CeGa,526690,1,1,1,212.790,6.55
2,CeGa,450659,1,1,1,212.790,6.55
3,CeGa,450525,1,1,1,215.020,6.48
4,CeGa,528215,1,1,1,215.030,6.48
...,...,...,...,...,...,...,...
1447,NiPt,1627941,10,4,1,26.500,15.91
1448,NiPt,455847,10,4,1,26.473,15.92
1449,SnYb,450594,10,4,1,54.147,8.95
1450,SnYb,1823352,10,4,1,54.800,8.84
1451,SnYb,1907574,10,4,1,54.000,8.96