In [9]:
cd

/Users/emiljaffal

In [13]:
import pandas as pd

file_path = "desktop/data.xlsx"
data = pd.read_excel(file_path)
data

,Formula,Entry,Entry prototype,Structure class,Inv. center,"Unit cell volume, A^3",Density (calc.) [Mg m‰…]
0,CeGa,261037,1,1,1,210.590,6.62
1,CeGa,526690,1,1,1,212.790,6.55
2,CeGa,450659,1,1,1,212.790,6.55
3,CeGa,450525,1,1,1,215.020,6.48
4,CeGa,528215,1,1,1,215.030,6.48
...,...,...,...,...,...,...,...
1447,NiPt,1627941,10,4,1,26.500,15.91
1448,NiPt,455847,10,4,1,26.473,15.92
1449,SnYb,450594,10,4,1,54.147,8.95
1450,SnYb,1823352,10,4,1,54.800,8.84
1451,SnYb,1907574,10,4,1,54.000,8.96

## Using with CBFV

As per the following:
    
    https://pypi.org/project/CBFV/

In [2]:
import pandas as pd

data = {
    'formula': ['Tc1V1', 'Cu1Dy1', 'Cd3N2'],
    'target': [248.539, 66.8444, 91.5034]
}

df = pd.DataFrame(data)
print(df)

  formula    target
0   Tc1V1  248.5390
1  Cu1Dy1   66.8444
2   Cd3N2   91.5034

In [3]:
from CBFV import composition
X, y, formulae, skipped = composition.generate_features(df,
                                                        elem_prop='magpie',
                                                        drop_duplicates=False,
                                                        extend_features=True,
                                                        sum_feat=True)

Processing Input Data: 100%|██████████| 3/3 [00:00<00:00, 1534.31it/s]

	Featurizing Compositions...

Assigning Features...: 100%|██████████| 3/3 [00:00<00:00, 1381.83it/s]

	Creating Pandas Objects...

In [7]:
X

,avg_Atomic_Number,avg_Atomic_Weight,avg_Period,avg_group,avg_families,avg_Metal,avg_Nonmetal,avg_Metalliod,avg_Mendeleev_Number,avg_l_quantum_number,...,mode_polarizability(A^3),mode_Melting_point_(K),mode_Boiling_Point_(K),mode_Density_(g/mL),mode_specific_heat_(J/g_K)_,mode_heat_of_fusion_(kJ/mol)_,mode_heat_of_vaporization_(kJ/mol)_,mode_thermal_conductivity_(W/(m_K))_,mode_heat_atomization(kJ/mol),mode_Cohesive_energy
0,33.0,74.424350,4.5,6.0,4.0,1.0,0.0,0.0,49.5,2.0,...,11.4,2163.15,3653.15,6.11,0.21,20.900,453.00,30.7,514.0,5.31
1,47.5,113.023000,5.0,7.0,3.5,1.0,0.0,0.0,47.5,2.5,...,6.7,1356.15,2840.15,8.55,0.17,11.060,230.10,10.7,291.0,3.04
2,31.6,73.049296,3.8,13.2,5.2,0.6,0.4,0.0,74.8,0.4,...,7.2,594.05,1038.15,8.65,0.23,6.192,99.57,96.8,112.0,1.16

In [8]:
y

0    248.5390
1     66.8444
2     91.5034
Name: target, dtype: float64

In [9]:
formulae

0     Tc1V1
1    Cu1Dy1
2     Cd3N2
Name: formula, dtype: object